.hero {
  min-height: 100vh;
  background: radial-gradient(circle at top, #2a2d45, #11121a);
  color: white;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.menu {
  display: flex;
  gap: 30px;
  opacity: 0.8;
}

.login-btn {
  background: linear-gradient(45deg, #a855f7, #f97316);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* HERO */

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

/* LEFT */

.hero-left {
  max-width: 500px;
}

.hero-left h1 {
  font-size: 60px;
  line-height: 1.1;
}

.hero-left span {
  background: linear-gradient(45deg, #a855f7, #f97316);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-left p {
  margin-top: 20px;
  opacity: 0.7;
}

/* BUTTONS */

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.primary-btn {
  background: linear-gradient(45deg, #a855f7, #f97316);
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.secondary-btn {
  background: transparent;
  border: 1px solid #555;
  padding: 14px 28px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* RIGHT SIDE */

.hero-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: #1c1e2c;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}